html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1REM = 10 pixeles*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #e5e5e5;
}

.Contenedor {
  position: absolute;
  width: 12rem;
  height: 4.8rem;
  left: 4rem;
  top: 4rem;
}

.Logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 4rem;
}

.IngTexto {
  margin-left: 24rem;
  margin-top: 16.8rem;
  color: #0a3871;
}

.Texto {
  width: 57.7rem;
  height: 4.8rem;
  font: Inter;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 4.8rem;
  color: #0a3871;
}

.Leyenda {
  width: 22.9rem;
  height: 1.8rem;
  position: absolute;
}

.Aviso {
  display: flex;
  align-items: center;
  padding: 0;
  gap: 0.8rem;
  margin-left: 24rem;
  margin-top: 85.1rem;
  /*Fuente*/
  font: Inter;
  color: #495057;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
